body
{
	background-image: url('../image/wallpaper.webp');
}

img
{
	image-rendering: optimizeSpeed;
}

p
{
	font-family: Tahoma, serif;
	font-weight: bold;
	font-size: 11pt;
	color: white;
	position: absolute;
	top: -5px;
	left: 12px;
}

#screen_window
{
	position: relative;
}

#screen
{
	position: absolute;
	top: 36px;
	left: 5px;
}

#buffer
{
	display: none;
}