body
{
	background-image: url('../image/wallpaper.webp');
	background-size: cover;
	overflow: hidden;
}

img
{
	image-rendering: optimizeSpeed;
}

p
{
	font-family: Tahoma, serif;
	font-weight: bold;
	font-size: 11pt;
	color: white;
	position: absolute;
	top: -5px;
	left: 12px;
}

#windows
{
	display: grid;
	grid-template-columns: 1fr auto 3fr;
	grid-gap: 20px;
}

#screen_window
{
	position: relative;
	transform: translate(25%, 25%) scale(1.5);
}

#screen
{
	position: absolute;
	top: 36px;
	left: 5px;
}

#buffer
{
	display: none;
}